.wrapper {
    background-color: rgb(223, 223, 223);
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.icon {
    color: #909090;
    font-size: 1.5rem;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: #909090;
    cursor: pointer;
}

button:hover {
    color: blue;
}

button:hover:not(.active) .icon {
    color: rgb(105, 105, 105);
}

.active, .active .icon {
    color: blue;
}